.center {
  display: grid;
  place-content: center;
  place-items: center;
}
@supports not (align-content: center) {
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
