@layer luz {
  .success {
    --scheme: var(--scheme-success);
  }
  .danger {
    --scheme: var(--scheme-danger);
  }
  .warning {
    --scheme: var(--scheme-warning);
  }
  .info {
    --scheme: var(--scheme-info);
  }
  .primary {
    --scheme: var(--scheme-primary);
  }
  .secondary {
    --scheme: var(--scheme-secondary);
  }
  .tertiary {
    --scheme: var(--scheme-tertiary);
  }
  .quaternary {
    --scheme: var(--scheme-quaternary);
  }
  .neutral {
    --scheme: var(--scheme-neutral);
  }
  .contrast {
    --scheme: var(--foreground);
  }
  :where(
    .success,
    .danger,
    .warning,
    .info,
    .primary,
    .secondary,
    .tertiary,
    .quaternary,
    .neutral,
    .contrast
  ) {
    color: var(--scheme);
  }
  .solid {
    --current-bg: var(--scheme, var(--scheme-primary));
    background-color: var(--current-bg);
    border-color: oklch(
      from var(--current-bg) l c h / calc(alpha * var(--border-opacity, 0.3))
    );
    color: var(--current-color);
  }
  .soft {
    --current-bg: oklch(from var(--scheme, var(--scheme-primary)) l c h / 14%);
    background-color: var(--current-bg);
    border-color: oklch(
      from var(--scheme, var(--scheme-primary)) l c h /
        calc(alpha * var(--border-opacity, 0.3))
    );
    color: color-mix(
      in oklab,
      var(--scheme, var(--scheme-primary)) 55%,
      var(--foreground)
    );
  }
  .outline {
    --current-bg: transparent;
    background-color: var(--current-bg);
    border-width: 0;
    color: color-mix(
      in oklab,
      var(--scheme, var(--scheme-primary)) 55%,
      var(--foreground)
    );
    box-shadow: inset 0 0 0 var(--border-width)
      oklch(
        from var(--scheme, var(--scheme-primary)) l c h /
          calc(alpha * var(--border-opacity, 0.3))
      );
  }
  .surface-primary {
    --current-bg: var(--neutral-900);
    background-color: var(--current-bg);
    color: var(--current-color);
  }
  .surface-secondary {
    --current-bg: var(--surface-secondary-900);
    background-color: var(--current-bg);
    color: var(--current-color);
  }
  .surface-tertiary {
    --current-bg: var(--surface-tertiary-900);
    background-color: var(--current-bg);
    color: var(--current-color);
  }
  .surface-quaternary {
    --current-bg: var(--surface-quaternary-900);
    background-color: var(--current-bg);
    color: var(--current-color);
  }
}
