.card {
  --current-bg: var(--scheme, var(--element-background));
  border: var(--border-width) solid var(--element-border-color);
  border-radius: calc(var(--border-radius) * 1.75 * var(--density));
  background-color: var(--current-bg);
  color: var(--current-color);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  gap: var(--element-vertical);
  .card-content,
  .card-footer,
  .card-meta,
  .card-toolbar {
    padding: var(--element-vertical)
      calc(var(--element-horizontal) * 1.75 * var(--density));
    display: flex;
    gap: var(--space-2);
  }
  .card-meta {
    background-color: var(--current-bg);
    color: var(--current-color);
  }
  .card-toolbar {
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-3);
  }
  .space {
    flex: 1 1 auto;
  }
}
:where(.card) .card-content {
  flex-direction: column;
}
.card:has(> table) {
  overflow: hidden;
}
.card > table {
  margin: 0;
}
.card > :is(figure, img, video, .card-cover, .card-meta):first-child {
  border-start-start-radius: inherit;
  border-start-end-radius: inherit;
}
.card > :is(figure, img, video, .card-cover, .card-meta):last-child {
  border-end-start-radius: inherit;
  border-end-end-radius: inherit;
}
.card > figure {
  overflow: hidden;
}
.card-cover {
  position: relative;
  aspect-ratio: var(--ratio, 3 / 1);
  overflow: hidden;
  > :is(img, video) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
