progress {
  border: none;
  border-radius: var(--border-radius);
  height: calc(var(--size-unit) * 12);
  background-color: var(--background);
  box-shadow: 0 0 var(--size-unit) var(--progress-shadow) inset;
  &::-moz-progress-bar {
    background-color: var(--progress-fill);
  }
  &::-webkit-progress-bar {
    background-color: var(--background);
  }
  &::-webkit-progress-value {
    background-color: var(--progress-fill);
  }
}
.meter {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--space-1);
  > code {
    justify-self: end;
  }
  progress {
    grid-column: 1 / -1;
    width: 100%;
  }
}
