address,
blockquote,
dl,
ol,
p,
pre,
table,
ul {
  color: currentColor;
  font-weight: var(--font-weight);
}
small {
  font-size: 60%;
}
abbr {
  border-bottom: var(--border-width) dotted var(--foreground);
}
:where(.prose) {
  max-width: var(--prose-width, 70ch);
  & > * + * {
    margin-block-start: var(--element-vertical);
  }
  & > * + :is(h2, h3, h4, h5, h6) {
    margin-block-start: calc(var(--element-vertical) * 2);
  }
  & > :is(h2, h3, h4, h5, h6) + * {
    margin-block-start: calc(var(--element-vertical) / 2);
  }
  & :is(ul, ol) {
    padding-inline-start: var(--space-4);
    & > li {
      margin-inline-start: 0;
    }
    & > li + li {
      margin-block-start: var(--space-1);
    }
  }
  & dt {
    font-weight: var(--font-bold-weight);
  }
  & dd {
    margin-inline-start: var(--space-4);
    color: oklch(from var(--foreground) l c h / 65%);
  }
  & dd + dt {
    margin-block-start: var(--space-2);
  }
}
