.toolbar {
  display: flex;
  align-items: center;
  overflow: visible;
  gap: calc(var(--space-2) * var(--density, 1));
  padding: calc(var(--space-2) * var(--density, 1))
    calc(var(--space-3) * var(--density, 1));
  background-color: var(--element-background);
}
.toolbar.vertical {
  flex-direction: column;
  .toolbar-group {
    flex-direction: column;
    align-self: stretch;
  }
  .toolbar-group + .toolbar-group {
    padding-inline-start: 0;
    border-inline-start: 0;
    padding-block-start: calc(var(--space-3) * var(--density, 1));
    border-block-start: var(--border-width) solid var(--element-border-color);
  }
  .toolbar-group.end {
    margin-inline-start: 0;
    margin-block-start: auto;
  }
}
.toolbar.floating {
  border: var(--border-width) solid var(--element-border-color);
  border-radius: var(--border-radius);
}
.toolbar-group {
  display: flex;
  align-items: center;
  gap: calc(var(--space-1) * var(--density, 1));
}
.toolbar-group + .toolbar-group {
  padding-inline-start: calc(var(--space-3) * var(--density, 1));
  border-inline-start: var(--border-width) solid var(--element-border-color);
}
.toolbar-group.end {
  margin-inline-start: auto;
}
