.scroll-y {
  overflow-y: auto;
  scrollbar-gutter: stable;
}
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  &:hover {
    scrollbar-color: oklch(from var(--foreground) l c h / 30%) transparent;
  }
}
