.accordion {
  border: var(--border-width) solid var(--element-border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  & + .accordion {
    margin-top: var(--space-3);
  }
  & > summary {
    padding: var(--space-4) var(--space-5);
    cursor: pointer;
    font-weight: var(--font-bold-weight);
    background-color: var(--element-background);
    list-style: none;
    &::-webkit-details-marker {
      display: none;
    }
    &::after {
      content: "+";
      float: right;
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--table-hover-bg);
      }
    }
  }
  &[open] > summary::after {
    content: "−";
  }
  & > :not(summary) {
    padding: var(--space-4) var(--space-5);
  }
}
