.badge {
  --current-bg: var(--scheme, var(--badge-bg));
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--size-unit) * 1) calc(var(--size-unit) * 6);
  border-radius: calc(var(--size-unit) * 20);
  font-size: var(--font-size-small);
  font-weight: var(--font-bold-weight);
  line-height: var(--line-height);
  background-color: oklch(from var(--current-bg) l c h / 26%);
  border: var(--border-width) solid var(--current-bg);
  color: var(--on-scheme);
  &.ghost {
    background-color: transparent;
    color: var(--on-badge-ghost);
    border: var(--border-width) solid var(--border-color);
  }
  &.pill {
    border-radius: calc(var(--size-unit) * 40);
    padding-inline: var(--space-4);
  }
  &:hover {
    color: var(--current-color);
  }
}
