.card {
  --current-bg: var(--scheme, var(--element-background));
  border: var(--border-width) solid var(--element-border-color);
  border-radius: var(--border-radius);
  background-color: var(--current-bg);
  color: var(--current-color);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  .card-content,
  .card-footer,
  .card-meta {
    padding: var(--space-3);
    display: flex;
    gap: var(--space-3);
  }
  .card-meta {
    padding: var(--space-2) var(--space-3) 0;
    background-color: var(--current-bg);
    color: var(--current-color);
  }
  .card-footer {
    padding: 0 var(--space-3) var(--space-2);
  }
  .space {
    flex: 1 1 auto;
  }
}
