.card {
  --current-bg: var(--scheme, var(--element-background));
  border: var(--border-width) solid var(--element-border-color);
  border-radius: calc(var(--border-radius) * 1.75 * var(--density));
  background-color: var(--current-bg);
  color: var(--current-color);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  gap: var(--element-vertical);
  overflow: hidden;
  .card-content,
  .card-footer,
  .card-meta {
    padding: var(--element-vertical) calc(var(--element-horizontal) * 1.75 * var(--density));
    display: flex;
    gap: var(--space-2);
  }
  .card-content {
    flex-direction: column;
  }
  .card-meta {
    background-color: var(--current-bg);
    color: var(--current-color);
  }
  .space {
    flex: 1 1 auto;
  }
}
