.colorpicker {
  --n: 12;
  --colorpicker-bounce: linear(
    0, 0.009, 0.035 2.1%, 0.141, 0.281 6.7%, 0.723 12.9%, 0.938 16.7%,
    1.017, 1.077, 1.121, 1.149 24.3%, 1.159, 1.163, 1.161, 1.154 29.9%,
    1.129 32.8%, 1.051 39.6%, 1.017 43.1%, 0.991, 0.977 51%, 0.974 53.8%,
    0.975 57.1%, 0.997 69.8%, 1.003 76.9%, 1.004 83.8%, 1
  );
  position: relative;
  width: calc(var(--size-unit) * 20);
  height: calc(var(--size-unit) * 20);
  transition: 1s var(--colorpicker-bounce) scale;
  &:hover {
    scale: 1.1;
  }
}
.colorpicker-bg {
  content: "";
  position: absolute;
  inset: 0;
  scale: 1.1;
  opacity: 0.3;
  filter: blur(calc(var(--size-unit) * 2));
  border-radius: 50%;
  pointer-events: none;
  background: conic-gradient(
    var(--red), var(--copper), var(--orange), var(--yellow), var(--green),
    var(--emerald), var(--teal), var(--cyan), var(--blue), var(--sky),
    var(--violet), var(--pink), var(--red)
  );
}
.colorpicker:has(.colorpicker-input:checked) .colorpicker-bg {
  display: none;
}
.colorpicker-input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
}
.colorpicker-swatch {
  --angle: calc(var(--i) / var(--n) * 360deg);
  display: block;
  width: calc(var(--size-unit) * 16);
  height: calc(var(--size-unit) * 16);
  border-radius: 50%;
  background: var(--swatch);
  position: absolute;
  inset: 50%;
  z-index: 10;
  cursor: pointer;
  transition: 2s var(--colorpicker-bounce) scale;
  translate: calc(-50% + cos(var(--angle)) * 35%) calc(-50% + sin(var(--angle)) * 35%);
  @media (hover: hover) and (pointer: fine) {
    .colorpicker:hover &,
    .colorpicker:focus-within & {
      translate: calc(-50% + cos(var(--angle)) * 100%) calc(-50% + sin(var(--angle)) * 100%);
    }
  }
  &:hover {
    scale: 1.4;
    border: solid calc(var(--size-unit) * 4) oklch(from var(--swatch) 1 0 h / 55%);
    z-index: 11;
    transition: 1.3s var(--colorpicker-bounce) scale;
  }
  & + .colorpicker-ring {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    border: solid calc(var(--size-unit) * 5) transparent;
    border-radius: 50%;
  }
}
.colorpicker-input:checked + .colorpicker-swatch {
  border: solid calc(var(--size-unit) * 2) black;
  &::after {
    content: "";
    position: absolute;
    inset: calc(var(--size-unit) * 1);
    border-radius: 50%;
    background-image: radial-gradient(circle at 100%, black, black);
  }
  & + .colorpicker-ring {
    z-index: -1;
    position: absolute;
    inset: 0;
    border-radius: 50%;
    pointer-events: none;
    animation: colorpicker-open 0.5s var(--colorpicker-bounce) forwards;
  }
}
@keyframes colorpicker-open {
  100% {
    box-shadow: 0 0 0 calc(var(--size-unit) * 20) var(--swatch);
  }
}
