form,
.form {
  flex-direction: column;
  display: flex;
  fieldset {
    display: flex;
    gap: calc(var(--size-unit) * 5);
    padding: var(--element-vertical) 0;
    flex-direction: column;
  }
}
