.background-blur {
  background-size: cover;
  background-position: center;
  filter: blur(var(--backdrop-blur, 2rem));
}
.background-conic-rainbow {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: conic-gradient(
      var(--red),
      var(--copper),
      var(--orange),
      var(--yellow),
      var(--green),
      var(--emerald),
      var(--teal),
      var(--cyan),
      var(--blue),
      var(--sky),
      var(--violet),
      var(--pink),
      var(--red)
    );
    filter: blur(calc(var(--size-unit) * 8));
  }
}
