.join {
  display: flex;
  > * {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: var(--element-vertical) var(--element-horizontal);
    border: var(--border-width) solid var(--scheme, var(--element-border-color));
    background-color: var(--element-background);
    color: var(--on-scheme);
    border-radius: 0;
    box-shadow: none;
    &:not(:first-child) {
      margin-inline-start: calc(var(--border-width) * -1);
    }
    &:first-child {
      border-start-start-radius: var(--border-radius);
      border-end-start-radius: var(--border-radius);
    }
    &:last-child {
      border-start-end-radius: var(--border-radius);
      border-end-end-radius: var(--border-radius);
    }
    &:hover,
    &:focus,
    &:focus-within {
      z-index: 1;
    }
  }
  &.vertical {
    flex-direction: column;
    > * {
      &:not(:first-child) {
        margin-inline-start: 0;
        margin-block-start: calc(var(--border-width) * -1);
      }
      &:first-child {
        border-start-end-radius: var(--border-radius);
        border-end-start-radius: 0;
      }
      &:last-child {
        border-start-end-radius: 0;
        border-end-start-radius: var(--border-radius);
      }
    }
  }
}
