address,
blockquote,
dl,
ol,
p,
pre,
table,
ul {
  color: currentColor;
  font-weight: var(--font-weight);
}
small {
  font-size: var(--font-size-small);
}
abbr {
  border-bottom: var(--border-width) dotted var(--foreground);
}
