.tabs {
  display: flex;
  gap: var(--space-2);
  border-bottom: var(--border-width) solid var(--border-color);
}
.tab-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 1px;
  height: 1px;
  z-index: -1;
}
.tab {
  display: flex;
  align-items: center;
  padding: calc(var(--space-3) * var(--density, 1))
    calc(var(--space-5) * var(--density, 1));
  cursor: pointer;
  color: var(--on-tab);
  text-decoration: none;
  border-bottom: calc(var(--size-unit) * 2) solid transparent;
  font-weight: var(--font-weight);
  transition: var(--transition);
  transition-property: color, border-color, background-color;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--on-tab-active);
    }
  }
}
.tab-input:checked + .tab,
.tab[aria-current="page"] {
  color: var(--on-tab-active);
  border-color: var(--tab-border-active);
}
.tab-input:focus-visible + .tab,
.tab:focus-visible {
  outline: calc(var(--size-unit) * 2) solid var(--element-active-border-color);
  outline-offset: calc(var(--size-unit) * 2);
}

.tabs.segmented {
  gap: var(--size-unit);
  border-bottom: none;
  background-color: var(--element-background);
  border-radius: var(--border-radius);
  padding: calc(var(--size-unit) * var(--density, 1));
  .tab {
    border-bottom: none;
    border-radius: var(--border-radius);
  }
  .tab-input:checked + .tab {
    background-color: var(--btn-bg);
    color: var(--on-btn);
    font-weight: var(--font-bold-weight);
  }
}

.tabs.toggle {
  gap: 0;
  border-bottom: none;
  border: var(--border-width) solid var(--element-border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  .tab {
    border-bottom: none;
    background-color: var(--element-background);
    &:not(:last-of-type) {
      border-right: var(--border-width) solid var(--element-border-color);
    }
  }
  .tab-input:checked + .tab {
    background-color: var(--btn-bg);
    color: var(--on-btn);
    font-weight: var(--font-bold-weight);
  }
  .tab-input:focus-visible + .tab {
    outline-offset: calc(var(--size-unit) * -2);
  }
}

.tabs.pagination {
  border-bottom: none;
  .tab {
    padding: calc(var(--space-2) * var(--density, 1))
      calc(var(--space-4) * var(--density, 1));
    border: var(--border-width) solid var(--element-border-color);
    border-radius: var(--border-radius);
    color: var(--foreground);
  }
  .tab[aria-current="page"] {
    background-color: var(--btn-bg);
    color: var(--on-btn);
    border-color: transparent;
  }
}

.tabs.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--element-background);
  margin: 0 auto;
  border: none;
  justify-content: space-evenly;
  .tab {
    flex: 0 0 60px;
    flex-direction: column;
    gap: 0;
    padding: calc(var(--space-1) * var(--density, 1));
    font-size: var(--font-size-base-fluid);
    border-bottom: none;
  }
  .tab[aria-current="page"] {
    color: var(--on-scheme, var(--on-element));
  }
}
