.titlebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-3) var(--space-5);
  background-color: var(--element-background);
  border-bottom: var(--border-width) solid var(--element-border-color);
}
