body {
  font-family: var(--font);
  font-weight: var(--font-weight);
  font-size: calc(var(--size-unit) * 10);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-wrap: pretty;
  line-height: var(--line-height);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
  line-height: calc(var(--line-height) - 40%);
  font-weight: var(--font-bold-weight);
  letter-spacing: var(--heading-letter-spacing);
}
h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
}
h5 {
  font-size: var(--font-size-h5);
}
h6 {
  font-size: var(--font-size-h6);
}
address,
blockquote,
dl,
ol,
p,
pre,
table,
ul {
  color: currentColor;
  font-weight: var(--font-weight);
}
ul li {
  margin-left: var(--element-vertical);
  list-style: inside square;
}
hr {
  clear: both;
  float: none;
  height: 1px;
  margin: calc(var(--size-unit) * 10) 0;
  border: none;
  width: 100%;
}
small {
  font-size: var(--font-size-small);
}
abbr {
  border-bottom: var(--border-width) dotted var(--foreground);
}
strong,
b {
  font-weight: var(--font-bold-weight, 700);
}
em,
i {
  font-family: var(--font-emphasis);
}
table {
  padding: calc(var(--size-unit) * 8);
  margin: calc(var(--size-unit) * 8) 0;
  & th {
    padding: calc(var(--size-unit) * 8);
    text-align: left;
    font-weight: 600;
  }
  & td {
    padding: calc(var(--size-unit) * 8);
  }
}
code,
pre,
samp {
  font-family: var(--font-monospace);
  overflow-x: auto;
  & > code {
    padding: calc(var(--size-unit) * 10);
  }
}
form {
  flex-direction: column;
  display: flex;
}
fieldset {
  gap: calc(var(--size-unit) * 5);
  padding: var(--element-vertical) 0;
  flex-direction: column;
  display: flex;
}
label {
  gap: calc(var(--size-unit) * 5);
  width: fit-content;
  margin-bottom: calc(var(--size-unit) * 5);
  flex-direction: column;
  align-items: flex-start;
  font-weight: 700;
  display: flex;
}
input,
optgroup,
select,
textarea {
  line-height: var(--line-height);
  letter-spacing: inherit;
  font-family: inherit;
  font-weight: var(--font-weight);
  font-size: calc(var(--size-unit) * 10);
  overflow: visible;
}
input:not([type="color"], [type="checkbox"], [type="radio"], [type="range"]),
select,
textarea {
  padding: var(--element-vertical) var(--element-horizontal);
}
select {
  padding-right: calc(var(--size-unit) * 20);
  position: relative;
}
label[for="file"],
&[role="file"],
&[file-] {
  & input[type="file"] {
    padding: calc(var(--size-unit) * 10);
    padding-bottom: calc(var(--size-unit) * 30);
    text-align: center;
    display: block;
    position: relative;
    &::file-selector-button {
      font-size: calc(var(--size-unit) * 10);
      border-radius: 0 0 var(--border-radius) var(--border-radius);
      text-align: center;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
input[type="range"] {
  width: 100%;
  height: calc(var(--size-unit) * 5);
  border: none;
  &[display-vertical] {
    height: auto;
    width: calc(var(--size-unit) * 10);
    writing-mode: sideways-lr;
  }
}
progress {
  border: none;
  border-radius: var(--border-radius);
  height: calc(var(--size-unit) * 12);
}
[type="checkbox"],
[type="radio"] {
  border-radius: var(--border-radius);
  width: calc(var(--size-unit) * 10);
  height: calc(var(--size-unit) * 10);
  padding: calc(var(--size-unit) * 7);
  flex: none;
  margin: 0;
  display: inline-block;
  position: relative;
  &:checked {
    margin: 0;
  }
  &:before {
    content: "";
    transform-origin: 50%;
    width: calc(var(--size-unit) * 5);
    height: calc(var(--size-unit) * 8);
    display: block;
    position: absolute;
    top: 47%;
    left: calc(50% - (var(--size-unit) * 3));
    transform: rotate(0) translateX(-50%) translateY(-50%) scale(0);
  }
  &:checked:before {
    transform: rotate(45deg) translateX(-50%) translateY(-50%) scale(1);
  }
}
[type="checkbox"][role="switch"] {
  width: calc(var(--size-unit) * 30);
  border-radius: calc(var(--size-unit) * 10);
  position: relative;
  padding: calc(var(--size-unit) * 6);
  &:before {
    content: "";
    width: calc(var(--size-unit) * 7);
    height: calc(var(--size-unit) * 7);
    border: none;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }
  &:checked:before {
    left: calc(90% - (var(--size-unit) * 6));
  }
}
[type="radio"] {
  width: calc(var(--size-unit) * 10);
  height: calc(var(--size-unit) * 10);
  border-radius: 100%;
  &:before {
    transform-origin: 50%;
    width: calc(var(--size-unit) * 6);
    height: calc(var(--size-unit) * 6);
    border: none;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: rotate(0) translateX(-50%) translateY(-50%) scale(0);
  }
  &:checked:before {
    transform: rotate(0) translateX(-50%) translateY(-50%) scale(1);
  }
}
blockquote {
  padding: calc(var(--size-unit) * 10);
  border-right: none;
  border-inline-end: none;
  display: block;
  font-size: var(--font-size-h5);
  font-weight: 300;
  margin: calc(var(--size-unit) * 10) 0;
  & > * {
    display: block;
  }
  & cite {
    margin-top: var(--element-vertical);
  }
}
.btn,
.button,
[role="button"],
[type="button"],
[type="file"]::file-selector-button,
[type="reset"],
[type="submit"],
button {
  padding: var(--element-vertical) var(--element-horizontal);
  border-radius: var(--border-radius);
  font-weight: var(--font-weight);
  font-size: calc(var(--size-unit) * 10);
  line-height: var(--line-height);
  text-align: left;
  cursor: pointer;
  user-select: none;
  will-change: transform;
  outline: 0;
  text-decoration: none;
}
nav {
  display: flex;
  overflow: visible;
  & ul,
  & ol {
    align-items: center;
    padding: 0;
    list-style: none;
    display: flex;
    &:first-of-type {
      margin-left: calc(var(--element-horizontal) * -1);
    }
    & li {
      padding: var(--element-vertical) var(--element-horizontal);
      margin: 0;
      display: inline-block;
    }
  }
}
section {
  padding: var(--spacing);
}
@supports (font-size: 1cqi) {
  .fluid {
    container-type: inline-size;
    & :is(h1, .h1) {
      font-size: var(--font-size-h1-fluid);
    }
    & :is(h2, .h2) {
      font-size: var(--font-size-h2-fluid);
    }
    & :is(h3, .h3) {
      font-size: var(--font-size-h3-fluid);
    }
    & :is(h4, .h4) {
      font-size: var(--font-size-h4-fluid);
    }
    & :is(h5, .h5) {
      font-size: var(--font-size-h5-fluid);
    }
    & :is(h6, .h6) {
      font-size: var(--font-size-h6-fluid);
    }
    & :is(small, .small) {
      font-size: var(--font-size-small-fluid);
    }
    & .text-xs {
      font-size: var(--font-size-xs-fluid);
    }
    & .text-sm {
      font-size: var(--font-size-sm-fluid);
    }
    & .text-base {
      font-size: var(--font-size-base-fluid);
    }
    & .text-lg {
      font-size: var(--font-size-lg-fluid);
    }
    & .text-xl {
      font-size: var(--font-size-xl-fluid);
    }
    & .text-2xl {
      font-size: var(--font-size-2xl-fluid);
    }
    & .text-3xl {
      font-size: var(--font-size-3xl-fluid);
    }
  }
}
